{% extends 'mainapp/base.html'%}
{% load static %}

{% block 'content' %}

<section class="site-hero overlay"
         style="background-image: url(static/images/preview.jpg); background-position: top center;">
    <div class="container">
        <div class="row site-hero-inner justify-content-center align-items-center">
            <div class="col-md-10 text-center top-lawed">
                <h1 class="heading mb-4 fs-100" data-aos="fade-up" >LAWED</h1>
            </div>
        </div>
    </div>
</section>

<section class="section" id="next-section">
    <div class="container">
        <div class="row align-items-center row-column">
            <div class="col-lg-6 pl-lg-5 back-border" data-aos="fade-up">
                <h2 class="mb-4 font-poiret">ГЛАВНАЯ ИСТОРИЯ ЛЮБВИ ВСЕГДА ВАША</h2>
                <p class="font-poiret">Свадебное агентство LAWED создает самые красивые и искренние события</p>
                <p class="font-poiret">Работая с 2012 года,
                    мы сделали счастливыми более 300 пар и были свидетелями создания самых крепких семей</p>
                <p class="font-poiret">Наша главная задача окружить Вас заботой и обеспечить максимальный комфорт
                    в свадебный день и на всех этапах подготовки</p>
                <p class="font-poiret">Выбирая нас, Вы легко организуете свадьбу мечты!</p>
                <p class="pt-4">
                </p>
                <h5 class="note">
                    Ваши LAWED
                </h5>
            </div>
            <div class="col-lg-6 mb-4" data-aos="fade-up">
                <p class="txt-center">
                    <img src="{% static 'images/first.jpg' %}" alt="Main" class="img-fluid" style="object-fit: cover;
    width: 450px;">
                </p>
            </div>
        </div>
    </div>
</section>

<section class="section bg-light-2">
    <div class="container">
        <div class="row justify-content-center text-center mb-5">
            <div class="col-md-8">
                <h1 class="mb-4 font-poiret">УСЛУГИ ДЛЯ СОЗДАНИЯ ИДЕАЛЬНОЙ СВАДЬБЫ</h1>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6 col-lg-4 mb-4" data-aos="fade-up">
                <div class="d-block ftco-img-flaticon card">
                    <img src="{% static 'images/glasses.png' %}" alt="Service-1" class="img-fluid mb-4">
                    <h3 class="font-poiret">СВАДЬБА <br> «ПОД КЛЮЧ»</h3>
                    <p class="font-poiret">Мы берем на себя полноценную подготовку и организацию </p>
                    <p class="font-poiret">Разрабатываем концепцию и стиль</p>
                    <p class="font-poiret">Подбираем площадку и специалистов</p>
                    <p class="font-poiret">Оптимизируем бюджет и убережем от лишних трат</p>
                    <p class="font-poiret">Координируем свадебный день</p><br>
                    <h3 class="font-poiret price">СТОИМОСТЬ от <br> 30 000 рублей</h3>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 mb-4" data-aos="fade-up" data-aos-delay="100">
                <div class="d-block ftco-img-flaticon card">
                    <img src="{% static 'images/wedding-ring.png' %}" alt="Service-2" class="img-fluid mb-4">
                    <h3 class="font-poiret">СВАДЕБНЫЙ КООРДИНАТОР</h3>
                    <p class="font-poiret">Составляем тайминг свадебного дня</p>
                    <p class="font-poiret">Взаимодействуем с привлеченными специалистами</p>
                    <p class="font-poiret">Координируем подготовку площадки</p>
                    <p class="font-poiret">Решаем любые ситуации</p>
                    <p class="font-poiret">Помогаем молодоженам и гостям</p>
                    <p class="font-poiret">Мы на связи 24/7</p><br>
                    <h3 class="font-poiret price">СТОИМОСТЬ от <br> 10 000 рублей</h3>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 mb-4" data-aos="fade-up" data-aos-delay="200">
                <div class="d-block ftco-img-flaticon card">
                    <img src="{% static 'images/cake.png' %}" alt="Service-3" class="img-fluid mb-4">
                    <h3 class="font-poiret">СВАДЕБНАЯ КОНСУЛЬТАЦИЯ</h3>
                    <p class="font-poiret">Встретимся лично или онлайн</p>
                    <p class="font-poiret">Ответим на все интересующие Вас вопросы о подготовке к свадьбе</p>
                    <p class="font-poiret">Делимся секретами, которые помогут избежать проблем и различных ситуаций</p>
                    <p class="font-poiret">Поможем сформировать бюджет свадьбы </p>
                    <p class="font-poiret">Составим тайминг свадебного дня </p>
                    <p class="font-poiret mmb-45">Проконсультируем в подборе свадебных специалистов </p><br>
                    <h3 class="font-poiret price">СТОИМОСТЬ<span style="font-size: 18px; vertical-align: super;">*</span>
                        <br>2 000 рублей
                    </h3><br>
                    <p class="font-poiret" style="font-size: 12px;">* ВСТРЕЧА ДО 1 ЧАСА БЕСПЛАТНО</p>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="section">
    <div>
        <div class="mlr-0">
            <div class="big-wrapper">
                <div class="first-width">
                    <a href="{% static 'images/gallery-2.jpg' %}" data-fancybox="gallery">
                        <img src="{% static 'images/gallery-2.jpg' %}" alt="Gallery-1"
                            class="img-fluid vertic p-7 mpr-0">
                    </a>
                </div>
                <div class="wrapper">
                    <div class="pro-wrapper">
                        <a href="{% static 'images/gallery-1.jpg' %}" data-fancybox="gallery">
                            <img src="{% static 'images/gallery-1.jpg' %}" alt="Gallery-2"
                                class="img-fluid p-7 vertic">
                        </a>
                        <a href="{% static 'images/gallery-3.jpg' %}" data-fancybox="gallery">
                            <img src="{% static 'images/gallery-3.jpg' %}" alt="Gallery-3"
                                class="img-fluid p-7 pr-0 vertic">
                        </a>
                    </div>
                    <div>
                        <a href="{% static 'images/gallery-4.jpg' %}" data-fancybox="gallery">
                            <img src="{% static 'images/gallery-4.jpg' %}" alt="Gallery-4"
                                class="img-fluid p-7 pr-0 horiz">
                        </a>
                    </div>
                </div>
            </div>
            <div class="little-wrapper">
                <div class="last-line">
                    <a href="{% static 'images/gallery-6.jpg' %}" data-fancybox="gallery">
                        <img src="{% static 'images/gallery-6.jpg' %}" alt="Gallery-5"
                            class="img-fluid p-7 hor-square">
                    </a>
                </div>
                <div>
                    <a href="{% static 'images/gallery-5.jpg' %}" data-fancybox="gallery">
                        <img src="{% static 'images/gallery-5.jpg' %}" alt="Gallery-6"
                            class="img-fluid p-7 pr-0 ver-square">
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="section testimonial-section bg-light-2">
    <div class="container">
        <div class="row justify-content-center text-center mb-5">
            <div class="col-md-8">
                <h1 class="font-poiret" data-aos="fade-up">Отзывы</h1>
            </div>
        </div>
        <div class="row owl-carousel owl-theme" id="slider">
            <div data-aos="fade-up" data-aos-delay="300">
                <div class="testimonial">
                    <div class="author-image mb-3">
                        <img src="{% static 'images/review-7.jpg' %}" alt="Review-1" class="rounded-circle">
                    </div>
                    <p class="font-poiret">
                        &ldquo; У нас была свадьба в крепости "БИП". Девочки очень сильно помогли нам с организацией
                        нашего торжества! Мы даже не представляли с чего начать и голова шла кругом... Настоящие
                        профессионалы разложили все по полочкам, подобрали нам прекрасную
                        команду (ведущий,видеограф,фотограф..), организовали все встречи, также предложили множество
                        интересных идей для нашей свадьбы. В общем все прошло просто супер благодаря нашим замечательным
                        организаторам!!! &rdquo;
                    </p>
                    <p><em class="font-poiret">&mdash; Светлана</em></p>
                </div>
            </div>
            <div data-aos="fade-up" data-aos-delay="100">
                <div class="testimonial">
                    <div class="author-image mb-3">
                        <img src="{% static 'images/review-1.jpg' %}" alt="Review-2" class="rounded-circle">
                    </div>
                    <p class="font-poiret">
                        &ldquo; Хочется сказать огромное - при огромное спасибо нашим
                        организатором, настоящим профессионалам.
                        Без вас свадьба не была бы такой. Спасибо вам за советы, помощь и конечно же терпение. Вы и
                        ваша команда провела все на высшем уровне. &rdquo;
                    </p>
                    <p><em class="font-poiret">&mdash; Евгения</em></p>
                </div>
            </div>
            <div data-aos="fade-up" data-aos-delay="200">
                <div class="testimonial">
                    <div class="author-image mb-3">
                        <img src="{% static 'images/review-3.jpg' %}" alt="Review-3" class="rounded-circle">
                    </div>
                    <p class="font-poiret">
                        &ldquo; Мы остались в восторге, и так хочется пережить этот день снова и
                        снова, растягивая этот момент нашего праздника.
                        От чистого сердца благодарим за то, что превратили наш праздник в настоящую сказку.
                        Все - наши родители, родственники, друзья и конечно же мы остались в полном восторге и под
                        впечатлением!
                        Так хочется снова пережить этот день! &rdquo;
                    </p>
                    <p><em class="font-poiret">&mdash; Светлана</em></p>
                </div>
            </div>
            <div data-aos="fade-up" data-aos-delay="300">
                <div class="testimonial">
                    <div class="author-image mb-3">
                        <img src="{% static 'images/review-5.jpg' %}" alt="Review-4" class="rounded-circle">
                    </div>
                    <p class="font-poiret">
                        &ldquo; Эмоциям нет предела, это было невероятно здорово! Мы
                        наслаждались красотой, великолепным обслуживаем и вкусной едой. Это был незабываемый
                        праздник. Огромное спасибо организаторам за их заботу и хлопоты. Спасибо вам за волшебство,
                        успехов и счастья! &rdquo;
                    </p>
                    <p><em class="font-poiret">&mdash; Наталия</em></p>
                </div>
            </div>
            <div data-aos="fade-up" data-aos-delay="300">
                <div class="testimonial">
                    <div class="author-image mb-3">
                        <img src="{% static 'images/review-4.jpg' %}" alt="Review-5" class="rounded-circle">
                    </div>
                    <p class="font-poiret">
                        &ldquo; Хотим сказать огромное спасибо за этот прекрасный и очень важный день в нашей жизни.
                        Отдельное спасибо организаторам, все прошло на высшем уровне, мы остались очень довольны, а
                        гости в полнейшем восторге! Еще раз спасибо за профессионализм, чуткость и понимание! &rdquo;
                    </p>
                    <p><em class="font-poiret">&mdash; Светлана</em></p>
                </div>
            </div>
            <div data-aos="fade-up" data-aos-delay="300">
                <div class="testimonial">
                    <div class="author-image mb-3">
                        <img src="{% static 'images/review-6.jpg' %}" alt="Review-6" class="rounded-circle">
                    </div>
                    <p class="font-poiret">
                        &ldquo; Спасибо большое за координацию нашей свадьбы) Грамотно и вовремя решались все вопросы,
                        нам понравилось с вами работать) &rdquo;
                    </p>
                    <p><em class="font-poiret">&mdash; Наталия</em></p>
                </div>
            </div>
            <div data-aos="fade-up" data-aos-delay="300">
                <div class="testimonial">
                    <div class="author-image mb-3">
                        <img src="{% static 'images/review-2.jpg' %}" alt="Review-7" class="rounded-circle">
                    </div>
                    <p class="font-poiret">
                        &ldquo; Я долго искала организаторов и как только нашла вас, сразу поняла что это будет самый
                        лучший день. Все мои мечты воплотились в реальность и каждая минута этого дня была идеальная,
                        благодаря вам! Всем вас рекомендую и желаю вам успехов! &rdquo;
                    </p>
                    <p><em class="font-poiret">&mdash; Екатерина</em></p>
                </div>
            </div>
            <div data-aos="fade-up" data-aos-delay="300">
                <div class="testimonial">
                    <div class="author-image mb-3">
                        <img src="{% static 'images/review-8.jpg' %}" alt="Review-8" class="rounded-circle">
                    </div>
                    <p class="font-poiret">
                        &ldquo; В прекрасный праздник День семьи, любви и верности, у нас была свадьба. За время
                        подготовки к мероприятию организаторы всегда были на связи (даже в выходные, нам стыдно🙈),
                        всегда давали опытные и дружеские советы, учитывали все наши пожелания 👍 Свадьба прошла
                        настолько круто, мы и представить себе такого не могли! На все 200%🎉🎉🎉 Гости в восторге, и мы
                        тем более! Спасибо за терпение, внимательность, профессионализм и душевность! 🤗 мы уже всем
                        рекомендуем замечательного свадебного координатора 👆🌸💋 &rdquo;
                    </p>
                    <p><em class="font-poiret">&mdash; Алёна</em></p>
                </div>
            </div>

        </div>
    </div>
</section>

<section class="section contact-section">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <h1 class="heading font-poiret" data-aos="fade-up">Контакты</h1>
                <h5 class="sub-heading mb-5 font-poiret" data-aos="fade-up" data-aos-delay="100">
                    Свяжитесь с нами
                </h5>
            </div>
            <div class="col-md-7">
                <form action="#" method="post" class="bg-white p-md-5 p-4 mb-5">
                    <div class="row">
                        <div class="col-md-6 form-group font-poiret">
                            <label for="name">Имя</label>
                            <input type="text" id="name" class="form-control ">
                        </div>
                        <div class="col-md-6 form-group font-poiret">
                            <label for="phone">Телефон</label>
                            <input type="text" id="phone" class="form-control ">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 form-group font-poiret">
                            <label for="email">Почта</label>
                            <input type="email" id="email" class="form-control ">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 form-group font-poiret">
                            <label for="message">Сообщение</label>
                            <textarea name="message" id="message" class="form-control " cols="30" rows="8"></textarea>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 form-group font-poiret">
                            <input type="submit" value="Отправить письмо" class="btn btn-primary">
                        </div>
                    </div>
                </form>
            </div>
            <div class="col-md-5">
                <div class="row">
                    <div class="col-md-10 ml-auto contact-info">
                        <p><span class="d-block font-poiret">Телефон:</span> <span
                                class="font-poiret"><a href="tel:+79214430121">+7-921-443-01-21</a></span></p>
                        <p><span class="d-block font-poiret">Email:</span> <span class="font-poiret">
                            <a href="mailto:L.A.WED@yandex.ru">L.A.WED@yandex.ru</a></span>
                        </p>
                        <p class="foot-p social">
                            <a class="pl-20" href="https://vk.com/lawedru" target="_blank">
                                <span class="fa fa-vk"></span>
                            </a>
                            <a class="pl-20" href="https://instagram.com/lawed.ru?igshid=MWI4MTIyMDE=" target="_blank">
                                <span class="fa fa-instagram"></span>
                            </a>
                            <a class="pl-20" href="https://t.me/LA88YON_DQJ5E0MDAy" target="_blank">
                                <span class="fa fa-telegram"></span>
                            </a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}


