{% extends 'mainapp/base.html'%}
{% load static %}


  {% block 'content' %}

    <section class="site-hero overlay" style="background-image: url(static/images/preview.jpg); background-position: top center;">
      <div class="container">
        <div class="row site-hero-inner justify-content-center align-items-center">
          <div class="col-md-10 text-center top-lawed">
            <h1 class="heading mb-4" data-aos="fade-up" style="font-size: 100px;">LAWED</h1>
          </div>
        </div>
      </div>
    </section>

    
    <section class="section" id="next-section">
      <div class="container">
        <div class="row align-items-center">
          <div class="col-lg-6 pl-lg-5 back-border" data-aos="fade-up">
            <h2 class="mb-4 font-poiret" >ГЛАВНАЯ ИСТОРИЯ ЛЮБВИ ВСЕГДА ВАША</h2>
            <p class="font-poiret">Свадебное агентство LAWED создает самые красивые и искренние события</p>
            <p class="font-poiret">Работая с 2012 года,
              мы сделали счастливыми более 300 пар и были свидетелями создания самых крепких семей</p>
            <p class="font-poiret">Наша главная задача окружить Вас заботой и обеспечить максимальный комфорт
              в свадебный день и на всех этапах подготовки</p>
            <p class="font-poiret">Выбирая нас, Вы легко организуете свадьбу мечты!</p>
            <p class="pt-4">
<!--              <a href="https://vimeo.com/channels/staffpicks/93951774"  data-fancybox class="btn-play d-flex">-->
<!--                <span class="icon align-self-center mr-3"><span class="fa fa-play"></span></span>-->
<!--                <span class="text align-self-center">Watch The Video</span>-->
<!--              </a>-->
            </p>
            <h5 style="font-size:18px;transform:rotate(-20deg); font-family: 'Bad Script', cursive; padding-left: 70%; padding-top: 10%">Ваши LAWED</h5>
          </div>
          <div class="col-lg-6 mb-4" data-aos="fade-up">
            <p><img src="{% static 'images/first.jpg' %}" alt="Free Template by Free-Template.co" class="img-fluid" style="object-fit: cover;
    width: 450px;"></p>
          </div>

        </div>
      </div>
    </section>

    <section class="section bg-light-2">
      <div class="container">
        <div class="row justify-content-center text-center mb-5">
          <div class="col-md-8">
              <h1 class="mb-4 font-poiret">УСЛУГИ ДЛЯ СОЗДАНИЯ ИДЕАЛЬНОЙ СВАДЬБЫ</h1>
         </div>
        </div>

        <div class="row">
          <div class="col-md-6 col-lg-4 mb-4" data-aos="fade-up">
            <div class="d-block ftco-img-flaticon card">
              <img src="{% static 'images/glasses.png' %}" alt="Free Template by Free-Template.co" class="img-fluid mb-4">
              <h3 class="font-poiret">СВАДЬБА <br> «ПОД КЛЮЧ»</h3>
              <p class="font-poiret">Мы берем на себя полноценную подготовку и организацию </p>
              <p class="font-poiret">
              Разрабатываем концепцию и стиль</p>
              <p class="font-poiret">
              Подбираем площадку и специалистов</p>
              <p class="font-poiret">
              Оптимизируем бюджет и убережем от лишних трат</p>
              <p class="font-poiret">
              Координируем свадебный день</p>
              <p class="font-poiret" style="margin-bottom: 32%;">
              Мы на связи 24/7
               </p>
                            <br>
              <h3 class="font-poiret">СТОИМОСТЬ от <br> 30 000 рублей</h3>
            </div>
          </div>
          <div class="col-md-6 col-lg-4 mb-4" data-aos="fade-up" data-aos-delay="100">
            <div class="d-block ftco-img-flaticon card">
              <img src="{% static 'images/wedding-ring.png' %}" alt="Free Template by Free-Template.co" class="img-fluid mb-4">
              <h3 class="font-poiret">СВАДЕБНЫЙ КООРДИНАТОР</h3>
              <p class="font-poiret">Составляем тайминг свадебного дня</p>
              <p class="font-poiret">Взаимодействуем с привлеченными специалистами
</p>
              <p class="font-poiret">Координируем подготовку площадки
</p>
              <p class="font-poiret">Решаем любые ситуации
</p>
              <p class="font-poiret">Помогаем молодоженам и гостям
</p>
              <p class="font-poiret" style="margin-bottom: 43%;">Мы на связи 24/7</p>
                            <br>
              <h3 class="font-poiret">СТОИМОСТЬ от <br> 10 000 рублей</h3>
            </div>
          </div>
          <div class="col-md-6 col-lg-4 mb-4" data-aos="fade-up" data-aos-delay="200">
            <div class="d-block ftco-img-flaticon card">
              <img src="{% static 'images/cake.png' %}" alt="Free Template by Free-Template.co" class="img-fluid mb-4">
              <h3 class="font-poiret">СВАДЕБНАЯ КОНСУЛЬТАЦИЯ</h3>
                <p class="font-poiret">Встретимся лично или онлайн</p>
                <p class="font-poiret">Ответим на все интересующие Вас вопросы о подготовке к свадьбе</p>
                <p class="font-poiret">Делимся секретами, которые помогут избежать проблем и различных ситуаций</p>
                <p class="font-poiret">Поможем сформировать бюджет свадьбы </p>
                <p class="font-poiret">Составим тайминг свадебного дня </p>
                <p class="font-poiret">Проконсультируем в подборе свадебных специалистов </p>
<!--                <p class="font-poiret">ВСТРЕЧА ДО 1 ЧАСА БЕСПЛАТНО</p>-->
              <br>
              <h3 class="font-poiret">СТОИМОСТЬ<span style="font-size: 18px; vertical-align: super;">*</span> <br> 2 000 рублей</h3>
              <br>
              <p class="font-poiret" style="font-size: 12px;">* ВСТРЕЧА ДО 1 ЧАСА БЕСПЛАТНО</p>
            </div>
          </div>



        </div>
      </div>
    </section>

     <section class="section">
      <div>
        <div class="row mlr-0">

        <div class="big-wrapper" >
          <div class="first-width">
            <a href="{% static 'images/preview.jpg' %}" data-fancybox="gallery"><img src="{% static 'images/preview.jpg' %}" alt="Img Gallery" class="img-fluid vertic p-7"></a>
          </div>
          <div class="wrapper">
            <div class="pro-wrapper">
              <a href="{% static 'images/preview.jpg' %}" data-fancybox="gallery"><img src="{% static 'images/preview.jpg' %}" alt="Img Gallery" class="img-fluid p-7 vertic"></a>

              <a href="{% static 'images/preview.jpg' %}" data-fancybox="gallery"><img src="{% static 'images/preview.jpg' %}" alt="Img Gallery" class="img-fluid p-7 pr-0 vertic"></a>
            </div>
            <div>
              <a href="{% static 'images/preview.jpg' %}" data-fancybox="gallery"><img src="{% static 'images/preview.jpg' %}" alt="Img Gallery" class="img-fluid p-7 pr-0 horiz"></a>
            </div>
          </div>
        </div>
        <div class="little-wrapper" >
          <div class="last-line">
            <a href="{% static 'images/preview.jpg' %}" data-fancybox="gallery"><img src="{% static 'images/preview.jpg' %}" alt="Img Gallery" class="img-fluid p-7 square"></a>
          </div>
          <div class="last-line">
            <a href="{% static 'images/preview.jpg' %}" data-fancybox="gallery"><img src="{% static 'images/preview.jpg' %}" alt="Img Gallery" class="img-fluid p-7 pr-0 square"></a>
          </div>
        </div>
        </div>
      </div>
    </section>


    <section class="section testimonial-section bg-light-2">
      <div class="container">
        <div class="row justify-content-center text-center mb-5">
          <div class="col-md-8">
            <h1 class="font-poiret" data-aos="fade-up">Отзывы</h1>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4" data-aos="fade-up" data-aos-delay="100">
            <div class="testimonial">
              <div class="author-image mb-3">
                <img src="{% static 'images/person_1.jpg' %}" alt="Image placeholder" class="rounded-circle">
              </div>
              <blockquote>

                <p class="font-poiret">&ldquo;Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.&rdquo;</p>
              </blockquote>
              <p><em class="font-poiret">&mdash; Clare Gupta</em></p>
              
            </div>
          </div>

          <div class="col-md-4" data-aos="fade-up" data-aos-delay="200">
            <div class="testimonial">
              <div class="author-image mb-3">
                <img src="{% static 'images/person_2.jpg' %}" alt="Image placeholder" class="rounded-circle">
              </div>
              <blockquote>
                <p class="font-poiret">&ldquo;Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.rdquo;</p>
              </blockquote>
              <p><em class="font-poiret">&mdash; Rogie Slater</em></p>
            </div>
          </div>


          <div class="col-md-4" data-aos="fade-up" data-aos-delay="300">
            <div class="testimonial">
              <div class="author-image mb-3">
                <img src="{% static 'images/person_3.jpg' %}" alt="Image placeholder" class="rounded-circle">
              </div>
              <blockquote>

                <p class="font-poiret">&ldquo;Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.&rdquo;</p>
              </blockquote>
              <p><em class="font-poiret">&mdash; John Doe</em></p>
            </div>
          </div>

        </div>
      </div>
    </section>


    <section class="section contact-section">
      <div class="container">
        <div class="row">
          <div class="col-md-12 text-center">
            <h1 class="heading font-poiret"  data-aos="fade-up">Контакты</h1>
            <h5 class="sub-heading mb-5 font-poiret" data-aos="fade-up" data-aos-delay="100">
              Свяжитесь с нами
            </h5>
          </div>
          <div class="col-md-7">

            <form action="#" method="post" class="bg-white p-md-5 p-4 mb-5">
              <div class="row">
                <div class="col-md-6 form-group font-poiret">
                  <label for="name">Имя</label>
                  <input type="text" id="name" class="form-control ">
                </div>
                <div class="col-md-6 form-group font-poiret">
                  <label for="phone">Тема</label>
                  <input type="text" id="phone" class="form-control ">
                </div>
              </div>

              <div class="row">
                <div class="col-md-12 form-group font-poiret">
                  <label for="email">Почта</label>
                  <input type="email" id="email" class="form-control ">
                </div>
              </div>
              <div class="row">
                <div class="col-md-12 form-group font-poiret">
                  <label for="message">Сообщение</label>
                  <textarea name="message" id="message" class="form-control " cols="30" rows="8"></textarea>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6 form-group font-poiret">
                  <input type="submit" value="Отправить письмо" class="btn btn-primary">
                </div>
              </div>
            </form>

          </div>
          <div class="col-md-5">
            <div class="row">
              <div class="col-md-10 ml-auto contact-info">
                <p><span class="d-block font-poiret">Адресс:</span> <span class="font-poiret"> 98 West 21th Street, Suite 721 New York NY 10016</span></p>
                <p><span class="d-block font-poiret">Телефон:</span> <span class="font-poiret"> (+1) 435 3533</span></p>
                <p><span class="d-block font-poiret">Email:</span> <span class="font-poiret"> info@yourdomain.com</span></p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

      {% endblock %}


