{% load static %}
<header class="site-header">
  <div class="container-fluid">
    <div class="row">
      <div class="col-4 site-logo" data-aos="fade">
        <a style="padding-left: 70px" href="index.html" class="animsition-link">
          <img src="{% static 'images/logo.png' %}" alt="logo" style="width: 60px;">
        </a>

      </div>

      <div class="col-8">
        <div class="mt-10 row-social">
            <a class="ml-p-60 pl-20" href="tel: +7-921-443-01-21">+7-921-443-01-21</a>
            <a class="pl-20" href="https://wa.me/79214430121" target="_blank"><span class="fa fa-whatsapp"></span></a>
            <a class="pl-20"href="https://t.me/LAWED1" target="_blank"><span class="fa fa-telegram"></span></a>
        </div>
      </div>
    </div>
  </div>
</header>